<title>Galleri</title>

<div class="container">
  <div class="gallery">
    <img class="reel" src="../img/gallerier/some1.png" alt="reel" />
    <img class="billede1" src="../img/gallerier/some2.png" alt="Billede 2" />
    <img class="billede1" src="../img/gallerier/some3.png" alt="Billede 4" />
    <img class="billede2" src="../img/gallerier/some2.png" alt="Billede 5" />
    <img class="billede2" src="../img/gallerier/some2.png" alt="Billede 6" />
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt */
    height: 100vh; /* Sørger for, at containeren fylder hele skærmen */
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    justify-items: center; /* Centrerer elementerne i grid-cellerne */
  }

  .reel {
    grid-row: 1 / span 4;
  }

  .billede1 {
    grid-row: 2;
  }

  .gallery img {
    width: 100%;
    border: 2px solid var(--secondary);
    border-radius: 1em;
  }
</style>
